<div class="row" *ngIf="selectedComponentData;else noComponent">
  <div class='col-md-6 mb-4' *ngFor="let comp of selectedComponentData">
    <div class="card" >
      <div class="card-header ">
        {{comp.title}}
        <a class="float-right"
          routerLink="/{{routePath}}/{{comp.subTree ? 'page' : 'list'}}/{{getParentComponentDetail?.selectedComponent?.path}}/{{comp.path}}"
          [state]="{ selectedComponent:comp, componentData:comp }"><i class="bi bi-eye"></i> </a>
      </div>
      <div class="card-body ">
        <p class="card-text">
          {{comp.description}}
        </p>
      </div>
    </div>

   
    <!-- <div class="card-footer bg-blue-300" ></div> -->
  </div>
</div>
<ng-template #noComponent>
  Comming Soon
</ng-template>