<nav class="navbar navbar-light bg-light px-3 border  border-bottom">
    <div class="d-flex">
        <button (click)="goBack()"  type="button" class="bi bi-arrow-left btn btn-primary btn-sm mr-1 "></button>
        <div class="mt-1 ml-1">&nbsp;&nbsp;{{getSelectedComponentDetail?.selectedComponent?.title || "Dashboard"}}</div>
      </div>
      <div class="d-flex">
        <button (click)="toggleView('list')" type="button" class="bi bi-list btn btn-primary btn-sm mr-4"></button> &nbsp;
        <button (click)="toggleView('grid')" type="button" class="bi bi-grid btn btn-primary btn-sm mr-4"></button>
      </div>

  </nav>
<!-- <div class="flex items-center justify-between h-10 text-white z-10 bg-blue-600 px-3">
    <div class="flex-1">
        <button (click)="goBack()" class="bi bi-arrow-left mr-1 "></button>
        {{getSelectedComponentDetail?.selectedComponent?.title || "Dashboard"}}
    </div>
    <div class=" ">
        <ul class="flex items-center ">
            <li>
                <button (click)="toggleView('list')" class="bi bi-list text-xl ml-2"></button>
                <button (click)="toggleView('grid')" class="bi bi-grid text-xl ml-2"></button>
            </li>
        </ul>
    </div>
</div> -->