<div>
  <app-header />
  <div class="container-fluid" style="margin-top:56px">
    <div class="row flex-nowrap">
      <!-- [ngClass]="{'ml-14 md:ml-64 ': menu}"> {'ml-14 md:ml-64 ': menu} -->
     
      <div class="col-auto px-1 bg-light border border-right" [ngClass]="{'d-none': !menu,'d-block': menu}"> 
        <app-sidebar *ngIf="menu" />
      </div>
      <div class="col p-0">
        <app-sub-header *ngIf="menu " />
        <div class="p-3"><router-outlet ></router-outlet></div>
      </div>
    </div>
  </div>
</div>


<!-- // Toaster  -->
<app-toast aria-live="polite" aria-atomic="true"></app-toast>