
<pre>{{getSelectedComponentDetail | json}}</pre>
<div class="row" *ngIf="getSelectedComponentDetail?.selectedComponent?.data; else NoData" >
    <div class='col-md-4 mb-4' style="min-height:200px" *ngFor="let sub of getSelectedComponentDetail?.selectedComponent?.data">
        <div class="card">
        <div class="card-header font-semibold bg-purple-00">
            {{sub.name}}
            <a class="float-right" routerLink="/design/ui/detail/{{selectedComponent.path}}/{{sub.name}}"
                [state]="{ selectedComponent:sub, componentData:sub }">
                <i class="bi bi-eye"></i></a>
        </div>
        <div class="card-body bg-blue-800">
            <div class="card-text" [innerHTML]="sub.html | sanitizeHtml"></div>
        </div>
    </div>
        <!-- <div class="card-footer bg-blue-300" ></div> -->
    </div>
</div>
<ng-template #NoData>
    Comming Soon...
</ng-template>


