
<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Icon</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="setSingleItem?._id === card?._id ? 'bg-info' : ''" 
          *ngFor="let card of cardList | async | orderBy:'_id':'desc' ; let i = index "  >
            <th scope="row">{{i+1}}</th>
            <td class="break-all">{{card.title}}</td>
            <td class="break-all">{{card.icon}}</td>
            <td class="break-all">{{card.description}}</td>
            <td class="w-32" >
              <button class="btn btn-primary btn-sm mr-1  bi bi-eye-fill text-white" (click)="this.selectItem(card)"></button>
              <button class="btn btn-secondary btn-sm mr-1  bi bi-pencil text-white" (click)="this.updateItem(card)"></button>
              <button class="btn btn-warning btn-sm mr-1  bi bi-trash-fill text-white" (click)="this.deleteItem(card)"></button>
              
            </td>
          </tr>
          
        </tbody>
      </table>
  </div>
