<div class="row">

  <div class="col-md-4">
      <form novalidate [formGroup]="saveDataForm" (ngSubmit)="onSubmit(); saveDataForm.reset()">
          <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" placeholder="Title"
                  formControlName="title">
          </div>
          <div class="form-group" *ngIf="!updateButton">
            <label for="title">Path</label>
            <input  type="text" class="form-control" name="path" id="path" placeholder="Path"
                formControlName="path">
        </div>
          <div class="form-group">
              <label for="icon">Icon Name</label>
              <select class="form-select" formControlName="icon">
                  <option value="">Choose Icon</option>
                  <option *ngFor="let icon of allIcons | async" [ngValue]="icon.name">
                      {{ icon.displayName }}
                  </option>
              </select>
              <!-- <input type="text" class="form-control" id="icon" placeholder="Icon" formControlName="icon"> -->
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
          </div>
          <div class="float-left">
              <div *ngIf="updateButton; else submit">
                  <button type="button" (click)="updateData()" 
                  [disabled]="saveDataForm.invalid"
                     class="btn btn-primary ">Update</button>
              </div>
              <ng-template #submit>
                  <button type="submit" 
                  [disabled]="saveDataForm.invalid"
                      class="btn btn-primary ">Submit</button>
              </ng-template>
          </div>
          
          <button type="button" (click)="resetForm()" class="btn btn-light ">Reset</button>
          
        </form>
  </div>
  <div class="col-md-8">
      <app-form-card-list-table (updateItemEvent)="setToUpdateItem($event)"></app-form-card-list-table>
  </div>
</div>