<div class="position-relative">
<div class="position-fixed top-0 end-0 " style="z-index:99999">
    <!-- header="Success" -->
    <ngb-toast
        class="mb-2"
        aria-live="polite"
        aria-atomic="true"
        *ngFor="let toast of toastService.toasts"
        [class]="toast.classname"
        [autohide]="false"
        [delay]="toast.delay || 1000"
        (hidden)="toastService.remove(toast);close()"
           
		>
			<ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
				<ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
			</ng-template>

			<ng-template #text>{{ toast.textOrTpl }}</ng-template>
		</ngb-toast>
  </div>
</div>