/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom style */
.header-right {
    width: calc(100% - 3.5rem);
}

.sidebar:hover {
    width: 16rem;
}

@media only screen and (min-width: 768px) {
    .header-right {
        width: calc(100% - 16rem);
    }
}

.menu-active {
    background-color: #1e40af;
    border-left: 4px solid #3b82f6
}

.sub-menu-active {
    background-color: #2851d9;
    border-left: 4px solid #3b82f6
}


.employee {
	border: 2px solid blue;
	width: 275px;
}
.department {
	border: 2px solid blue;
	width: 275px;
}
.team {
	border: 3px solid black;
	width: 300px;
}
.all-emp {
	border: 3px solid black;
	width: 275px;	
}
.error{
        color: red;
} 
.submitted{
        color: green;
        font-size: 20px;
} 